In [2]:
from IPython.display import display
import pandas as pd
pd.options.display.float_format = "{:,.0f}".format

from utils.logs import get_runs

In [4]:
runs = get_runs()

df = pd.DataFrame(runs)


pt = pd.pivot_table(df,
    index=["alg_name","params", "runtime"])

DataError: No numeric types to aggregate

In [3]:
df

,alg_name,arch,params,path,runtime,durs
0,atomics,wasm_multi,"((total_count, 1000000), (num_threads, 1), (me...",logs/atomics!wasm_multi!total_count+1000000!nu...,firefox,"[9060.0, 7820.0, 7580.0, 7540.0, 7800.0, 7820...."
1,atomics,wasm_multi,"((total_count, 1000000), (num_threads, 2), (me...",logs/atomics!wasm_multi!total_count+1000000!nu...,google-chrome,"[47570.0, 47145.0, 33945.0, 41865.0, 44655.0, ..."
2,atomics,wasm_multi,"((total_count, 1000000), (num_threads, 4), (me...",logs/atomics!wasm_multi!total_count+1000000!nu...,firefox,"[20180.0, 15900.0, 18900.0, 23500.0, 22760.0, ..."
3,atomics,native,"((total_count, 1000000), (num_threads, 2), (me...",logs/atomics!native!total_count+1000000!num_th...,native,"[28083.0, 16250.0, 17155.0, 16657.0, 17257.0, ..."
4,atomics,native,"((total_count, 1000000), (num_threads, 3), (me...",logs/atomics!native!total_count+1000000!num_th...,native,"[20281.0, 19469.0, 19148.0, 19758.0, 15529.0, ..."
5,atomics,native,"((total_count, 1000000), (num_threads, 6), (me...",logs/atomics!native!total_count+1000000!num_th...,native,"[16453.0, 19687.0, 18581.0, 19381.0, 18285.0, ..."
6,atomics,wasm_multi,"((total_count, 1000000), (num_threads, 1), (me...",logs/atomics!wasm_multi!total_count+1000000!nu...,google-chrome,"[12890.0, 12210.0, 11905.0, 10415.0, 10835.0, ..."
7,atomics,wasm_multi,"((total_count, 1000000), (num_threads, 4), (me...",logs/atomics!wasm_multi!total_count+1000000!nu...,google-chrome,"[72130.0, 45079.0, 44175.0, 80555.0, 44495.0, ..."
8,atomics,wasm_multi,"((total_count, 1000000), (num_threads, 6), (me...",logs/atomics!wasm_multi!total_count+1000000!nu...,firefox,"[23600.0, 22280.0, 23439.0, 23939.0, 22500.0, ..."
9,atomics,native,"((total_count, 1000000), (num_threads, 1), (me...",logs/atomics!native!total_count+1000000!num_th...,native,"[15442.0, 15356.0, 15095.0, 11484.0, 11439.0, ..."
10,atomics,wasm_multi,"((total_count, 1000000), (num_threads, 2), (me...",logs/atomics!wasm_multi!total_count+1000000!nu...,firefox,"[20400.0, 18080.0, 19500.0, 16740.0, 16420.0, ..."
11,atomics,wasm_multi,"((total_count, 1000000), (num_threads, 8), (me...",logs/atomics!wasm_multi!total_count+1000000!nu...,firefox,"[85480.0, 22320.0, 15880.0, 19420.0, 18380.0, ..."
12,atomics,wasm_multi,"((total_count, 1000000), (num_threads, 3), (me...",logs/atomics!wasm_multi!total_count+1000000!nu...,google-chrome,"[29500.0, 59275.0, 58360.0, 54035.0, 54545.0, ..."
13,atomics,native,"((total_count, 1000000), (num_threads, 4), (me...",logs/atomics!native!total_count+1000000!num_th...,native,"[15829.0, 16551.0, 15308.0, 15272.0, 15360.0, ..."
14,atomics,wasm_multi,"((total_count, 1000000), (num_threads, 6), (me...",logs/atomics!wasm_multi!total_count+1000000!nu...,google-chrome,"[82015.0, 83880.0, 90935.0, 81815.0, 79335.0, ..."
15,atomics,wasm_multi,"((total_count, 1000000), (num_threads, 8), (me...",logs/atomics!wasm_multi!total_count+1000000!nu...,google-chrome,"[81760.0, 95765.0, 100080.0, 90535.0, 94340.0,..."
16,atomics,wasm_multi,"((total_count, 1000000), (num_threads, 3), (me...",logs/atomics!wasm_multi!total_count+1000000!nu...,firefox,"[20300.0, 19320.0, 19900.0, 22880.0, 21380.0, ..."
17,atomics,native,"((total_count, 1000000), (num_threads, 8), (me...",logs/atomics!native!total_count+1000000!num_th...,native,"[21654.0, 22114.0, 22307.0, 22210.0, 21126.0, ..."

In [4]:
for i in df.index:
    params = dict(df.at[i, "params"])
    for k, v in params.items():
        df.at[i, k] = v

In [6]:
d = df.drop(columns=["alg_name", "params", "path", "measure_per_run", "arch"])

In [7]:
d

,runtime,durs,total_count,num_threads
0,firefox,"[9060.0, 7820.0, 7580.0, 7540.0, 7800.0, 7820....",1000000,1
1,google-chrome,"[47570.0, 47145.0, 33945.0, 41865.0, 44655.0, ...",1000000,2
2,firefox,"[20180.0, 15900.0, 18900.0, 23500.0, 22760.0, ...",1000000,4
3,native,"[28083.0, 16250.0, 17155.0, 16657.0, 17257.0, ...",1000000,2
4,native,"[20281.0, 19469.0, 19148.0, 19758.0, 15529.0, ...",1000000,3
5,native,"[16453.0, 19687.0, 18581.0, 19381.0, 18285.0, ...",1000000,6
6,google-chrome,"[12890.0, 12210.0, 11905.0, 10415.0, 10835.0, ...",1000000,1
7,google-chrome,"[72130.0, 45079.0, 44175.0, 80555.0, 44495.0, ...",1000000,4
8,firefox,"[23600.0, 22280.0, 23439.0, 23939.0, 22500.0, ...",1000000,6
9,native,"[15442.0, 15356.0, 15095.0, 11484.0, 11439.0, ...",1000000,1
10,firefox,"[20400.0, 18080.0, 19500.0, 16740.0, 16420.0, ...",1000000,2
11,firefox,"[85480.0, 22320.0, 15880.0, 19420.0, 18380.0, ...",1000000,8
12,google-chrome,"[29500.0, 59275.0, 58360.0, 54035.0, 54545.0, ...",1000000,3
13,native,"[15829.0, 16551.0, 15308.0, 15272.0, 15360.0, ...",1000000,4
14,google-chrome,"[82015.0, 83880.0, 90935.0, 81815.0, 79335.0, ...",1000000,6
15,google-chrome,"[81760.0, 95765.0, 100080.0, 90535.0, 94340.0,...",1000000,8
16,firefox,"[20300.0, 19320.0, 19900.0, 22880.0, 21380.0, ...",1000000,3
17,native,"[21654.0, 22114.0, 22307.0, 22210.0, 21126.0, ...",1000000,8

In [11]:
d.dtypes

runtime        category
durs             object
total_count      object
num_threads      object
dtype: object

In [10]:
d['runtime'] = d['runtime'].astype("category")